<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<li id="post-<%= post._id %>">
    <p>
      <% if (locals.user && locals.user.id == post.user.id) { %>
      <small>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
      </small>
      <% } %>
      <%= post.content %>
      <br />
      <%= post.user.name %>
    </p>
    <div class="post-comments">
      <% if(locals.user) { %>
      <form action="/comments/create" method="POST">
        <input
          type="text"
          name="content"
          placeholder="Type Here To Add Comment..."
          required
        />
        <input type="hidden" name="post" value="<%= post._id %>" />
        <input type="submit" value="Add Comment" />
      </form>
      <% } %>
    </div>
    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for(comment of post.comments) {%>


           <%- include('_comment') -%>

        

        <% } %>
      </ul>
    </div>
  </li>